@import "../../variables";
@import '@material/top-app-bar/mdc-top-app-bar';

.mdc-top-app-bar {
    &__link {
    @include mdc-top-app-bar-ink-color(on-primary);
    @include mdc-typography(headline6);
    @include mdc-rtl-reflexive-box(
      padding,
      right,
      $mdc-top-app-bar-title-left-padding
    );

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }
}
