@import '../../variables';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/typography/mdc-typography';

.splash {
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  background: url(assets/classroom.jpg);
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > section {
    background-color: #fff9;
    text-align: center;
    padding: 1rem;

    @media (min-width: 840px) {
      margin: var(--mdc-layout-grid-margin-desktop);

      h1 {
        @include mdc-typography(headline3);
      }
    }
    @media (min-width: 480px) and (max-width: 839px) {
      margin: var(--mdc-layout-grid-margin-tablet);

      h1 {
        @include mdc-typography(headline4);
      }
    }
    @media (max-width: 479px) {
      margin: var(--mdc-layout-grid-margin-phone);

      &:last-child {
        margin: unset;
        align-self: flex-end;
      }

      h1 {
        @include mdc-typography(headline5);
      }

      h2 {
        @include mdc-typography(headline6);
      }
    }
  }

  // top app bar fix
  @media (max-width: 599px) {
    height: calc(100vh - 56px);
  }
}
